
#js-owner-browse {
	background-color: rgba(237, 236, 234, 0.83);
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.owner-browse {
	background-color: rgb(168, 159, 159);
	font-size: 14px;
	border: 1px solid black;
	margin-bottom: 20px;
	padding: 35px;
	width: 80%;
	margin: 40px auto;
}

h2 {
	padding-top: 10px;
	padding-left: 10px;
	display: inline;
}

.owner-browse p {
	display: block;
	padding-right: 9px;
	font-size: 20px;
	font-family: Railway, sans-serif;
}

.shoeNumber-inventory,
h4 {
	display: inline;
	padding-right: 10px;
	font-size: 20px;
}

@media (min-width: 665px) {

	.shoeNumber-inventory,
h4 {
	display: inline;
	padding-right: 10px;
	font-size: 16px;
}

}

@media (min-width: 825px) {
	.shoeNumber-inventory,
	h4 {
		display: inline;
		padding-right: 10px;
		font-size: 17px;
	}
	.owner-browse p {
		display: inline;
		padding-right: 32px;
		font-size: 17px;
	}
	
}