h2 {
	text-align: center;
}

#js-owner-browse {
	background-color: rgba(237, 236, 234, 0.83);
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
}

#owner-browse {
	background-color: rgb(210, 210, 210);
	font-size: 14px;
	border: 1px solid black;
	margin-bottom: 20px;
	padding: 10px;
	width: 80%;
	margin: 40px auto;
	text-align: center;
}

#owner-browse a:link, 
#owner-browse a:visited, 
#owner-browse a:hover, 
#owner-browse a:active {
	text-decoration: none;
	color: black;
}

footer {
	padding-bottom: 5px;
	margin-top: 15px;
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	font-family: 'Karla', sans-serif;
	background-color: #000000;
	border-top: #ac0000 3px solid;
	width: 100%;
 	position: static;
	bottom: 0;
}