html { 
  background: url('https://i.imgur.com/KlrAjJ7.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0;
	background-repeat: no-repeat;
}

#branding img {
	width: 100%;
}

/* SHOWCASE BANNER */
#showcase {
	text-align: center;
	width: 85%;
	margin: 30px auto
}

#showcase h2 {
	color: white;
	text-shadow: 0 1px black;
	text-align: center;
	font-size: 18px;
	font-family: Roboto, sans-serif;
}

#showcase h1 {
	color: white;
	text-shadow: 0 1px black;
	text-align: center;
	font-size: 34px;
	font-family: 'Permanent Marker', cursive;
}

/* FORM STYLING */

#login-form,
#signup-form {
	background-color: rgba(8, 0, 0, 0.9);
	padding-bottom: 1em;
	max-width: 550px;
	margin: auto;
	margin: 20px auto;
}

.container {
	margin-top: 25px
}

#login-form fieldset,
#signup-form fieldset {
	border: none;
	margin: auto;
	text-align: center;
	display: block;
	width: 300px;
	margin: auto;
}

#login-form legend,
#signup-form legend {
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 5px 0px;
	font-size: 25px;
	font-family: Railway, sans-serif;
}

.signup-query {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#login-form input {
	text-align: center;
	padding: 3px 0px;
	font-size: 20px;
	margin: 10px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

#signup-form input {
	text-align: center;
	padding: 3px 0px;
	font-size: 12px;
	margin: 10px auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 50%
}

#login-form label {
	font-size: 22px;
	display: block;
	padding: 10px 0px;
	color: white;
}

label,
legend,
a {
	font-family: Roboto;
}

#signup-form label {
	font-size: 16px;
	width: 30%;
	padding: 0px 0px;
	color: white;
}

#error-handling,
#login-error {
	text-align: center;
	color: #0fdef7;
	font-size: 20px;
	width: 85%;
	margin: 0 auto;
	padding: 1px 0px;
	border-radius: 5px;
	font-family: Railway, sans-serif;
}

.hidden {
	display: none;
}



/* NAV -- HEADER */

header img {
	display: block;
	margin: 10px auto;
}

header {
	margin-top: 25px;
}

nav {
	margin-bottom: 35px;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
  margin-right: 0px;
  border-right: 1px solid #aaa;
	padding: 0 10px;
	display: inline;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: rgb(255, 255, 255); 
  font: 16px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav li a:hover {
  color: #666;
}

nav li.current a {
  font-weight: bold;
  color: rgb(0, 151, 221);
}

/* DASHBOARD */
.dashboard {
	background: rgba(237, 236, 234, 0.83);
	margin-bottom: 1em;
	padding: .5em;
	text-align: center;
	font-family: Raleway, sans-serif;
	max-width: 750px;
	margin: auto;
}

.dashboard h3 {
	font-size: 32px;
}


h1 {
	text-align: center;
	font-size: 32px;
	font-family: Roboto, sans-serif;
}

.dashboard a, #shoeCount {

	font-family: Raleway, sans-serif; 
  border-radius: 5px;
  color: white;
	padding: .5em;
	margin: .5em auto;
	text-decoration: none;
	display: block;
	width: 40%;
}

#shoeCount {
	color: black;
	font-weight: bold;
}

#username {
	background-color: #353535; 
	width: 40%;
	font-family: Raleway, sans-serif; 
  border-radius: 5px;
  color: white;
	margin: .5em auto;
	text-decoration: none;
	display: block;
	width: 40%;
}

#js-userinfo {
	margin: 5px auto;
}

/* BUTTONS*/

button#signup-button,
button#back-btn {
	display: block;
	margin: 0 auto;
	border: none;
	margin-bottom: 10px;
	width: 200px;
}

#new-account,
.login {
	display: block;
	text-align: center;
	margin: 10px auto;
	width: 200px;
	border: none;
}
/* 
.login {
	display: block;
	text-align: center;
	width: 90%;
	margin: 10px auto;
	border: none;
} */

.button {
  background-color: Crimson;  
  border-radius: 5px;
  color: white;
  padding: .5em;
	text-decoration: none;
	font-size: 14px;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}

#mockuser-info {
	padding-left: 20px;
	color: white;
	font-family: Roboto, sans-serif;
}

/* FOOTER */
footer {
	bottom: 0;
	float: left;
}

@media (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }
  /* 4 columns */
  .col-4 {
    width: 33.33%
  }
  /* 6 columns */
  .col-6 {
    width: 50%
  }
  /* 12 columns */
  .col-12 {
    width: 100%
	}
	
	nav li a {
		text-decoration: none;
		font: 34px/1 Helvetica, Verdana, sans-serif;
		text-transform: uppercase;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

section#login-section,
section#signup-section {
  float: right;
  width: 100%
}



#login-form {
    padding-bottom: 1em;
    
}

#signup-form {
	padding-bottom: .5em;
	height: 500px;
	
}

#login-form legend,
#signup-form legend {
  text-align: center;
  padding: 5px 0px;
  font-size: 40px;
}
}