body {
	padding: 0;
	margin: 0;
	background-color: #eeeeee;
}

/* SHOWCASE BANNER */
#showcase {
	text-align: center;
	margin-bottom: 10px;
	background-image: url('http://toledocitypaper.com/sneaker-collection-boxes.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
}

#showcase span {
	color: white;
	text-shadow: 0 1px black;
	background: #333; /* For browsers that don't support RGBA */
	background: rgba(0,0,0,0.5);
	padding: 4px 8px;
	font-size: 26px;
	margin-top: 50px;
}

/* FORM STYLING */
fieldset {
	border: none;
}

form button {
	width: 200px;
	height: 30px;
}


legend {
	text-align: center;
	color: rgb(88, 88, 88);
	padding: 3px 6px;
}

label {
	display: inline-block;
	font-size: .9rem;
	width: 35%;
}

input {
	margin: .4rem 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hidden {
	display: none;
}



/* NAV -- HEADER */

header img {
	margin-top: 10px;
	margin-left: 15px;
}

nav {
	margin: 20px;
}

nav ul {
	list-style-type: none;
}

nav li {
  margin-right: 0px;
  border-right: 1px solid #aaa;
	padding: 0 10px;
	display: inline;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: rgb(182, 182, 182); 
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav li a:hover {
  color: #666;
}

nav li.current a {
  font-weight: bold;
  color: rgb(0, 151, 221);
}

/* DASHBOARD */
#dashboard {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	background: rgb(179, 179, 179);
}

#dashboard h3 {
	text-align: center;
}

#dashboard a {
	background-color: Crimson;  
  border-radius: 5px;
  color: white;
  padding: .5em;
	text-decoration: none;
	display: inline-block;
}

#js-username, #js-shoeCount {
	display: inline-block;
	margin: 5px auto;
}
/* BUTTONS*/
#add-shoe-btn img {
	width: 8%;
	height: 8%;
}

#new-account {
	display: block;
	text-align: center;
	margin: 10px auto;
	width: 90%;
}

.login {
	display: block;
	text-align: center;
	width: 90%;
	margin: 10px auto;
}

.button {
  background-color: Crimson;  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}

/* FOOTER */
footer {
	padding-bottom: 5px;
	margin-top:	15px;
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	font-family: 'Karla', sans-serif;
	background-color: #000000;
	border-top: #ac0000 3px solid;
	width: 100%;
 	position: absolute;
	bottom: 0;
}
