* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: #eeeeee;
}

.container {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;

}

.container::before,
.container::after {
  display: table;
  content: '';
} 

ul {
	margin: 0;
	padding: 0;
}

#landing {
	text-align: center;
	margin-bottom: 10px;
}

/* FORM STYLING */
fieldset {
	border: none;
}

form button {
	width: 200px;
	height: 30px;
}

form a {
	display: block;
	margin-top: 10px;
}

#login-section .container, #signup-section .container {
	background-color: #ffffff;
	padding-bottom: 10px;
	text-align: center;
}


legend {
	background-color: #000;
	color: #fff;
	padding: 3px 6px;
}

label {
	display: inline-block;
	font-size: .9rem;
	width: 35%;
}

input {
	margin: .4rem 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hidden {
	display: none;
}

#new-account {
  padding: 3px 5px;
  border: none;
	text-decoration: none;
}

/* NAV -- HEADER */

header img {
	margin-top: 10px;
	margin-left: 15px;
}

nav {
	margin: 20px;
}

nav ul {
	list-style-type: none;
}

nav li {
  margin-right: 0px;
  border-right: 1px solid #aaa;
	padding: 0 10px;
	display: inline;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: rgb(182, 182, 182); 
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav li a:hover {
  color: #666;
}

nav li.current a {
  font-weight: bold;
  color: rgb(0, 151, 221);
}

/* DASHBOARD */
#dashboard {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	background: white;
}

/* FOOTER */
footer {
	padding-bottom: 5px;
	margin-top:	15px;
	font-size: 11px;
	color: #ffffff;
	text-align: center;
	font-family: 'Karla', sans-serif;
	background-color: #000000;
	border-top: #ac0000 3px solid;
	width: 100%;
 position: static;
	bottom: 0;
}

/* header {
	background: #434440;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #7d8500 3px solid;
	font-size: 24px;
	font: 26px/1.5 Arial, Helvetica, sans-serif;
} */