/* SHOE INVENTORY */
.shoeinfo-region {
	background-color: rgb(255, 183, 183);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 16px;
	margin-bottom: 1em;
	margin: 0 auto;
	width: 85%;
}

.shoeinfo-region a {
	/* display: block; */
	text-decoration: none;
}

.shoe-info > li {
	float: left;
	list-style: none;
	padding-left: 19px;
}

.shoe-info {
	overflow: hidden;
}

.shoe-info-data > li {
	float: left;
	list-style: none;
	padding-left: 21px;
}

.shoe-info-data {
	overflow: hidden;
}

/* SHOE EDIT FORM */

#js-myinventory {
	background-color: rgba(237, 236, 234, 0.83);
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

#js-myinventory form,
#add-shoe form,
#edit-account form {
	background-color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 15px;
}

#edit-account-form legend,
#js-myinventory legend,
#addShoe-form legend {
	text-align: center;
	color: rgb(73, 73, 73);
	padding: 3px 6px;
}

#js-myinventory a {
	text-align: center;
}

#js-myinventory fieldset, 
#edit-account-form fieldset,
#addShoe-form fieldset {
	border: none;
	margin: 0 auto;
	width: 300px;
	text-align: left;
}

#js-myinventory label, 
#edit-account-form label,
#addShoe-form label {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 115px;
}

#js-myinventory input, 
#edit-account-form input,
#addShoe-form input,
#js-myinventory select {
	max-width: 150px;
}

a#add-shoe-btn {
	padding: 10px;
	text-decoration: none;
	border: 1px solid black;
  background-color: beige;
}

/* #add-shoe {
	text-align: center;
} */

#add-shoe-btn img {
	width: 3%;
	height: 3%;
	margin-right: 10px;
}