/* SHOE INVENTORY */
.shoeinfo-region {
	font-size: 13px;
	margin-bottom: 1em;
	margin: 25px auto;
	padding: 15px;
	max-width: 600px;
	display: flex;
}

.shoeinfo-region a {
	text-decoration: none;
}

.shoe-item-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-left: 1px solid black;
	margin: auto;
	width: 100%;
	margin-left: 5px;
}

section.editshoe-section div {
	text-align: center;
}

.editshoe-section label {
	margin-right: 5px;
}

.shoeNumber-inventory h4 {
	font-size: 26px;
}
.shoe-item-wrapper div {
	margin: 15px;
}

.shoe-info,
.shoe-info-data {
	padding-inline-start: 0px;
}

.shoe-item-wrapper p {
	list-style: none;
	display: inline;
	font-size: 14px;
	font-family: Railway, sans-serif;
}

.shoe-item-controls {
	display: flex;
	margin: 5px;
}

.shoe-item-controls a {
	margin: 5px;
}

.shoe-info-data {
	overflow: hidden;
}

.blue-button {
	background-color: #353535;
	border-radius: 5px;
	color: white;
	padding: .5em;
	text-decoration: none;
	width: 200px;
}

/* SHOE EDIT FORM */

#js-myinventory {
	background-color: rgba(237, 236, 234, 0.83);
	padding-top: 10px;
	margin-bottom: 20px;
	max-width: 750px;
	margin: auto;
	padding: 35px 0px;
}

#js-myinventory form,
#add-shoe form,
#edit-account form {
	background-color: rgba(237, 236, 234, 0.83);
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 15px;
}

#edit-account-form legend,
#js-myinventory legend,
#addShoe-form legend {
	text-align: center;
	color: rgb(73, 73, 73);
	padding: 3px 6px;
	font-size: 30px;
	margin-bottom: 30px;
}

#js-myinventory fieldset, 
#edit-account-form fieldset,
#addShoe-form fieldset {
	border: none;
	margin: 0 auto;
	width: 300px;
	text-align: left;
}

select#shoeSize-query {
	width: 115px;
	height: 40px;
}

#js-myinventory label {
	display:block;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 5px;
}

#edit-account-form label,
#addShoe-form label {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 115px;
	font-size: 20px;
}

#js-myinventory input, 
#edit-account-form input,
#addShoe-form input,
#js-myinventory select {
	width: 112px;
	height: 41px;
	margin-bottom: 25px;
}

input[type="submit"],
button#submit-ownerInfo {
	display: block;
	margin: 10px auto;
	background-color: #353535;
	border-radius: 5px;
	color: white;
	padding: .5em;
	text-decoration: none;
	width: 100px;
}
a#cancelShoeEdit,
a#close-edit {
	margin-left: 110px;
    text-decoration: none;
    font-size: 21px;
}

#add-shoe-btn {
	padding: 10px;
	text-decoration: none;
	margin: auto;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	display: block;
	width: 50%;
	text-align: center;
}

#login-redirect {
	padding: 30px;
}

#login-redirect a {
	text-decoration: none;
	color: grey;
	font-family: Roboto, sans-serif;
}

#login-redirect a:hover {
	color: rgb(219, 63, 63);
	font-size: 18px;
}

#add-shoe-btn img {
	width: 3%;
	height: 3%;
	margin-right: 10px;
}

@media(max-width: 575px){
	.shoe-item-wrapper {
		display: block
	}
}

@media (min-width: 625px) {
	.shoe-info > li {
		font-size: 26px;
	}
	
}

@media (min-width: 875px) {
.shoe-info > li {
	list-style: none;
	padding-left: 58px;
	padding-right: 53px;
	display: inline;
}

.shoe-info-data > li {
	list-style: none;
	padding-left: 60px;
	padding-right: 56px;
	display: inline;
}
}