/* SHOE INVENTORY */
.shoeinfo-region {
	background-color: rgb(255, 183, 183);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 16px;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 10px;
	text-align: center;
}

.shoeinfo-region a {
	text-decoration: none;
}

#shoe-item-wrapper {
	text-align: center;
}

.shoe-info,
.shoe-info-data {
	padding-inline-start: 0px;
}

.shoe-info > li {
	list-style: none;
	padding-left: 13px;
	padding-right: 14px;
	display: inline;
	font-size: 14px;
}

.shoe-info-data > li {
	list-style: none;
	padding-left: 13px;
	padding-right: 14px;
	display: inline;
	font-size: 14px;
}

h4 {
	padding-left: 10px;
	padding-top: 10px;
	font-family: Roboto, sans-serf;
}

#public-inventory {
	background-color: rgba(237, 236, 234, 0.83);
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
}

@media (min-width: 625px) {
	.shoe-info > li {
		font-size: 26px;
	}
	
	.shoe-info-data > li {
		font-size: 24px;
	}
}

@media (min-width: 875px) {
.shoe-info > li {
	list-style: none;
	padding-left: 58px;
	padding-right: 53px;
	display: inline;
	font-size: 25px;
}

.shoe-info-data > li {
	list-style: none;
	padding-left: 60px;
	padding-right: 56px;
	display: inline;
	font-size: 25px;
}
}